body {
    
}


.headbg{
    background-color:aquamarine;
}
#aside1{
    background-color:aqua;
}
#aside2{
    background-color:#ff6a00;
}
#contenthuvud{
    background-color:blueviolet;
}.hel{
    background-color:#dcd962;

}
 .content{
     background-color:chocolate;
 }
